body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: aquamarine;
}

.calendar-container{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 00, 0, 0.3);
    overflow: hidden;
}

.month-name{
    margin: 0;
    background-color: crimson;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name{
    font-size: 20px;
    color: darkcyan;
}

.day-number{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.year{
    margin: 20px 0;
    font-size: 20px;
    color: darkcyan;
    font-weight: 500;
}